@media(min-width: 768px) and (max-width: 991px) {}

@media(min-width: 992px) and (max-width: 1199px) {}

@media(min-width: 1200px) {}

/* @media(max-width: 767px) {
    .map {
        max-width: 767px;
    }
} */

@media only screen and (max-width: 767px) {
    html {
        max-width: 100%;
    }
    body {
        max-width: 100%;
    }
    [class*="col-"] {
        width: 100%;
    }
    .map {
        max-width: 100%;
    }
    .map-bottom {
        width: 100%;
        height: 200px;
    }
    header {
        height: 50px;
        ;
    }
    .logo {
        position: relative;
    }
    .logo img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .topnav {
        display: none;
    }
    .container {
        /* height: auto; */
        width: auto;
        /* max-width: 767px; */
        margin: 10px 10px;
    }
    .thisTemplateIsAwesome {
        height: auto;
        width: 100vw;
    }
    .title-1 {
        text-align: left;
        color: #fff;
        padding-top: 30px;
    }
    .title-1 p {
        color: #fff;
        width: 100%;
        text-align: justify;
        line-height: 1.3;
    }
    .title-1 h1 {
        margin: 0 auto;
        font-size: 30px;
        line-height: 1.0;
        text-align: center;
    }
    .slider {
        text-align: center;
        margin-top: 30px;
        /* margin-bottom: 30px; */
        padding-bottom: 30px;
    }
    .circle {
        height: auto;
        width: 100vw;
        background-color: #fff;
        text-align: center;
    }
    .container3 {
        height: auto;
        width: 100vw;
    }
    .recentTemplates {
        height: auto;
        text-align: center;
    }
    .title p {
        width: 80vw;
    }
    .recentTemplates div.tabs-container img {
        width: 100%;
        height: auto;
        padding: 0;
    }
    .center {
        padding-bottom: 10px;
        padding-top: 0;
    }
    .tabs-container {
        overflow: hidden;
        height: auto;
        width: auto;
    }
    .templateFeatures {
        width: auto;
        height: auto;
    }
    .pos-change {
        height: auto;
    }
    .cont,
    .position {
        position: static;
        text-align: center;
    }
    .template-advantages {
        height: auto;
        text-align: center;
    }
    .meetTheTeam {
        height: auto;
    }
    .testimonials {
        height: auto;
    }
    .imgDesc {
        width: auto;
        text-align: center;
    }
    .imgQuote .box h2 {
        text-align: center;
    }
    .howItWorks {
        width: auto;
        height: auto;
    }
    iframe {
        width: auto;
        height: auto;
        border: none;
    }
    div.youTube {
        width: auto;
    }
    div.youTubeText {
        text-align: center;
    }
    .howItWorks div .videoText {
        width: auto;
        text-align: justify;
        text-justify: inter-word;
    }
    .templateProperties {
        height: auto;
    }
    .faq {
        height: auto;
        width: auto;
    }
    .faq .title p {
        width: 80vw;
    }
    .moveLeft {
        text-align: center;
    }
    .plusMinus {
        display: initial;
        margin: 0;
    }
    .blog {
        height: auto;
        /* width: auto; */
    }
    .imgContainer {
        width: auto;
        display: grid;
    }
    .imgContainer img {
      align-items: center;
      justify-content: center;
        
    }
    .blogDate {
        /* width: 60vw; */
    }
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}